{%extends 'base.html'%}
{% block content %}


<div class="">
{% comment %} Jumbotron {% endcomment %}
  <div class="">
    {% if images %}

    <div class="jumbotron bg-dark">
      <div class="">
        <h2 class="display-5 text-center font-weight-bold text-white">Found {{ images|length }} messages from {{message}}
        </h2>
      </div>
    </div>
    {% else %}
      <div class="container">
      <h1><i class="fa fa-paper-plane"></i></h1>
        <h2>Your messages</h2>
        <p>Send private photos and messages to a friend or group.</p>
        <button class='btn btn-info' type="submit">Send message</button>
      </div>
    {% endif %}

  </div>
{% comment %} Content {% endcomment %}

    <div class="container">
        {% for image_item in images %}
            <p >{{ image_item.author }}</p>
            <p >{{ image_item.title }}</p>
            <p><b>Time created:</b> {{ image_item.time_created }}</p>
        {% endfor %}
</div>
<hr>

{% endblock %}