{% extends 'registration/base.html' %}

{% block content %}
<div class="container"><br>
    <div class="row">
        <div class="col-md-10">
            {% for image in all_images %}
            <div class="card">
                <a href="{% url 'showprofile' id=image.profile.id %}">
                    <img src="{{image.profile_pic.cdn_url}}" class="rounded-circle" style="width:10%; height:auto" alt=""/>
                        {{image.profile.username}}</a>
                <hr>
                <div class="card-img-top">
                    <img src="{{image.my_image.cdn_url}}" class="card-img-top" alt="Image"></div>
                <div class="container"><br>
                    <ul class="list-inline text-black">
                    <li class="list-inline-item">
                        <a href=" {% url 'comment' image_id=image.id %}">
                            <i class="fa fa-comment-o fa-2x" aria-hidden="true" style="color:black;"></i> {{image.comment.count}} </a>
                              <i class="fa fa-paper-plane-o fa-2x"></i><a href="/messages/ {{image.message}}">{{image.message}}</a>
                               <a href=" {% url 'like' image_id=image.id %}">
                        <i class="fa fa-heart-o fa-2x" style="color: black" aria-hidden="true"></i>{{likes|length}} likes</a>
                    </li>
                    </ul>
                    <h5> {{image.caption}}</h5>

                <div class="card-body ">
                    {% for comment in comments %}
                    {% if comment.image_id == image.id%}
                    <h5> <b> {{comment.comment_title}}</b>: {{comment.comment}}</h5>
                    <p>{{image.time_created}}</p>
                    <hr>
                    <p class="text-muted">Add Comment ...</p>
                <br>
                    {% endif %}
                    {% endfor %}
                </div>
                </div>
      </div>
<br><br>
            {% empty %}<br>
        <div class="jumbotron text-center">
            <h2 >Hey there! So excited to have you here :)
            <br>You can create your first new post as well as follow your friends.
            <br>Lets get you started. </h2><hr>
            <p><a href= "{% url 'upload_image' %}"> Add Image</a></p>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}