{%extends 'base.html'%}
{% block content %}
<div class="container-fluid">

    <div class="row">
        {% if categorys%}
            <h2 class ='text-center'>Found {{ categorys|length }} of searched term {{message}}</h2>
        {% else %}
            <h2> Found 0 items for the search term {{message}}</h2>
        {% endif %}

     </div>

    <div class="row">
        {% if categorys %}
            {% for image_item in categorys %}
                <div class="col-md-4">
                    <img class="image" src="{{image_item.my_image.url}}" />
                    <!-- Image title -->
                    <p >{{ image_item.author }}</p>
                </div>
            {% endfor %}
         {% endif %}
     </div>
</div>
{% endblock %}