{%extends 'base.html'%}
{% block content %}

<div class="container">
<div class="col-md-5">
    <div class="jumbotron">
        <h2 class="display-5 text-center font-weight-bold text-white">Direct
        </h2>
            <p >{{ image_item.author }}</p>
            <p >{{ image_item.title }}</p>
            <p><b>Time created:</b> {{ image_item.time_created }}</p>

    </div>
    </div>
     <div class="col-md-7">
      <h1><i class="fa fa-paper-plane"></i></h1>
        <h2>Your messages</h2>
        <p>Send private photos and messages to a friend or group.</p>
        <button class='btn btn-info' type="submit">Send message</button>
      </div>
  </div>
<hr>

{% endblock %}