{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Instagram - {{title}}</title>
  {% else %}
    <title> Instagram </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
   <style>
        body {
            margin-left: 10px;
        }
        .jumbotron{
            background-image: url('https://picsum.photos/1900/1267?grayscale');
            color: black;
        }
        .footer{
            background-color: black;
            color: white;
        }
    </style>
{% endblock %}
</head>
<body>
    {% include "navbar.html" %}

    {% block content %}

    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
    {% endblock %}
    <hr>
<footer><br>
 <!-- Copyright -->
  <div class="footer text-center py-3"><br>© 2020 Copyright:Nimo<br><br>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>