{%extends 'base.html'%}
{%load bootstrap3 %}
{% load static %}
{{ block.super}}
{% block content  %}

<div class="container">
    <div class="row">
    {% for post in images %}
        <div class="col-md-4"><br>
            <h3 class="card-header"> {{post.profile.user.username}} {{post.user}}</h3>
            <img class="img-fluid" src="{{ post.my_image.url }}" alt="image">
            <h4>{{post.caption}}</h4>
            <p><b>Posted at</b> :{{post.time_created}}</p>
            <span ><i class="fa fa-heart"></i>{{post.likes}}
            <i class="fa fa-comment">{{post.comment}}</i>
            <i class="fa fa-paper-plane">{{post.message}}</i>
            </span>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}