{%extends 'base.html'%}
{%load bootstrap3 %}
{% load static %}
{{ block.super}}
{% block content  %}

<div class="container">
    <div class="row">
    {% for post in images %}
        <div class=" col-md-4"><br>
            <div id ='main'>
                 <h4 class="card-header"> {{post.profile.user.username}} {{post.user}}</h4>
                  <img class="img-fluid" src="{{ post.my_image.url }}" alt="image">
             <div class="overlay">
            <div class="text">
              <p class="card-text">Posted at :{{post.time_created}}</p>
               <p class="card-text text-muted"><i class="fa fa-heart"></i>{{post.likes}}</p>
             </div>
             </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}