{%extends 'base.html'%}

{{ block.super}}
{% block content  %}

<div class="container">
    <div class="row">
    {% for post in images %}
        <div class="col-md-4"><br>
            <h3 class="card-header"> {{post.profile.user.username}} {{post.user}}</h3>
            <img class="img-fluid" src="{{ post.my_image.url }}" alt="image">
            <h4>{{post.caption}}</h4>
            <p><b>Posted on</b> :{{post.time_created}}</p>
            <span ><i class="fa fa-heart"></i> {{post.likes}}
            <i class="fa fa-comment"></i><a href="/messages/ {{post.message}}"> {{post.message}}</a>
            </span>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}