{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if categorys%}
      <h2 class ='text-center'>Found {{ categorys|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 items for the search term {{message}}</h2>
    {% endif %}

  </div>

<div class="row">

  {% if categorys %}
  <div class="grid">
    {% for image_item in categorys %}
        <div class="grid-item"><br><hr>
         <h3> {{post.profile.user.username}} {{post.user}}</h3>
          <img class="image" src="{{image_item.my_image.url}}" />
                <p >{{ image_item.name }}</p>

        </div>
  </div>
     {% endfor %}

  {% endif %}
</div>

    </div>
{% endblock %}