{%extends 'base.html'%}

{{ block.super}}
{% block content  %}

<div class="container">
    <div class="row">
    {% for post in images %}
        <div class="col-md-4"><br>
            <h2 class="card-header"> {{post.profile.user.username}} {{post.user}}</h2>
            <img class="img-fluid" src="{{ post.my_image.cdn_url }}" alt="image">
            <p>New to Instagram</p>
            <button class='btn btn-info' id="btn1">Follow</button>
         <h4>{{post.caption}}</h4>
     </div>
    {% endfor %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#btn1").click(function(){
    $("h2").append(" <br> You are now following.");
  });
});
</script>
{% endblock %}