{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<br>
{{form.media}}
    <div class="container">
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-outline-info " value="Edit Profile">
        </form>
    </div>
  <hr>
  <h1 class='text-center' style="color:#8a3ab9;">PROFILE</h1>
    <div class="row">
        <div class="col-md-4">
            {% if all_images %}
                <img src="{{image.my_image.cdn_url}}" class="card-img-top" alt="Image"></div>
                {% else %}
            <h2 class='text-center' >You have no post yet</h2>
            <p class='text-center' ><a href= "{% url 'upload_image' %}"> Create your first post</a></p>
        </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}